--Пользовательские функций
--use ProceduresTest
create function ScalarFunction_(@firstnum int, @secondnum int)
returns int
as
begin
if (@firstnum < @secondnum)
Declare @n int
Set @n =  @firstnum + @secondnum
return @n
else 
return 0
end


Declare @val int = 0
Execute @val = ScalarFunction_ 2,5
raiserror('val: ',0,1, @val)

select [Corp\chert].ScalarFunction_ (2,5)as Val

create function PlainOneQueryFunction
(@name nvarchar(50))
returns uniqueidentifier
as
begin
Declare @id uniqueidentifier
select @id = id from books where name = @name
return @id
end

select dbo.PlainOneQueryFunction ('asd') as id

select * from [dbo].[PlainOneQueryOlegFunction1] ('asd')as id
